@import 
'about',
'home',
'overview';



/*====================================
=            Tabs Section            =
====================================*/
.mwb-navbar{
	.mwb-link {
		color: $c-outer-space;

		&.active {
			color: $c-doger-blue;
		}
	}
}

/*=====  End of Tabs Section  ======*/

/*=======================================
=            General section            =
=======================================*/
.mwb-wsfw-gen-section-form {
	.mwb-form-group {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px 35px;
		padding-top: 30px;

		.mwb-form-group__label {
			flex: 0 0 20%;
			max-width: 20%;
			padding: 0 15px;

			.mwb-form-label {
				font-family: $ff-nunitosans-s;
				font-size: $fs-normal;
				line-height: 24px;
				letter-spacing: 0.3px;
			}
		}

		.mwb-form-group__control {
			flex: 0 0 80%;
			max-width: 80%;
			padding: 0 15px;
		}
	}	
}


/*=====  End of General section  ======*/

/*======================================
=            Wallet Section            =
======================================*/
.mwb-wpg-gen-section-form {
	margin-bottom: 50px;

	h3 {
		border-bottom: 1px solid $c-silver;
		color: $c-outer-space;
		font-family: $ff-nunitosans-e;
		font-size: $fs-normal;
		font-weight: 700;
		line-height: 26px;
		letter-spacing: 0.5px;
		padding-bottom: 15px;
	}

	.mwb-form-group {
		margin: 0 0 35px;

		.mwb-form-group__label {		
			align-self: center;
			flex: 0 0 20%;
			max-width: 20%;
			padding: 0 15px;

			.mwb-form-label {
				color: $c-outer-space;
				font-family: $ff-nunitosans-e;
				font-size: $fs-normal;
				font-weight: 700;
				line-height: 26px;
				letter-spacing: 0.5px;
			}
		}

		.mwb-form-group__control {
			flex: 0 0 80%;
			max-width: 80%;
			padding: 0 15px;

			label {
				max-height: 40px;
				padding-right: 10px;

				input {
					padding: 0;
					max-width: 150px;
				}
			}

			.mwb-form-select {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				max-width: 360px;

				input {
					border-width: 2px;
					height: 18px;
					padding: 0px !important;
					vertical-align: sub;
					width: 18px;

					&:before {
						background-color: $c-doger-blue;
					}

					&:checked {						
						border-color: $c-doger-blue;
					}
				}

				label {
					font-family: $ff-nunitosans-r;
					font-size: $fs-normal;
					font-weight: 400;
					line-height: 26px;
					letter-spacing: 0.25px;
				}
			}
		}
	}	
}

.mwb-wpg-gen-section-form-wrapper {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;

	.mwb-wpg-gen-section-form {
		flex: 0 0 calc(50% - 10px);
		border: 1px solid $c-silver;
		border-radius: 5px;
		padding: 15px;

		@include media(mwb-tablet) { 
			flex: 0 0 100%;
		}

		h3 {
			border-bottom: none;
			padding: 0 0 0 15px;
		}

		.mwb-form-group .mwb-form-group__label {
			flex: 0 0 40%;
			max-width: 40%;
		}

		.mwb-form-group__control {
			flex: 0 0 60%;
			max-width: 60%;
		}	

		.mwb_wallet-update--popupwrap {
			bottom: 0;
			display: block;
			display: none;
			height: 100%;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 5555555;

			&:after {
				position: absolute;
				content: '';
				height: 100%;
				width: 100%;
				background: rgba(121, 121, 121, 0.8);
			}

			.mwb_wallet-update-popup {
				background: $c-white;
				border-radius: 5px;
				left: 0;
				margin: auto;
				max-width: 550px;
				padding: 30px;
				position: absolute;
				right: 0;
				text-align: center;
				top: 50%;
				transform: translateY(-50%);
				z-index: 455;

				h3 {
					margin-bottom: 30px;
				}

				.mwb-btn {
					color: $c-white;
				}

				a {
					color: $c-pomegranate;
					margin: 0 10px;
				}
			}
		}		
	}
	#export_user_wallet {
		background-color: $c-white;
		border: 0;
		bottom: 28%;
		cursor: pointer;
		height: auto;
		position: absolute;
		right: 3%;
	}
}

.mwb_wallet-edit--popupwrap {
	bottom: 0;
	display: block;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 5555555;

	&:after {
		background: rgba(121, 121, 121, 0.8);
		content: '';
		height: 100%;
		position: absolute;
		width: 100%;
	}

	.mwb_wallet-edit-popup {
		background: $c-white;
		border-radius: 5px;
		left: 0;
		margin: auto;
		max-width: 550px;
		padding: 30px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		z-index: 455;

		.mwb_wallet-edit-popup-amount {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 30px;

			.mwb_wallet-edit-popup-control {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 250px;

				label {
					font-family: $ff-nunitosans-s;
					font-size: $fs-normal;
					font-weight: 400;
					line-height: 26px;
					letter-spacing: 0.25px;
				}
			}
		}

		.mwb_wallet-edit-popup-label {
			min-width: 220px;
			text-align: left;

			label {
				color: $c-outer-space;
				font-family: $ff-nunitosans-b;
				font-size: $fs-normal;
				line-height: 26px;
				letter-spacing: 0.5px;
			}
		}
	}
}

.mwb-wpg-gen-section-table-wrap {
	h4 {
		color: $c-outer-space;
		font-family: $ff-nunitosans-b;
		font-size: $fs-xmedium;
		font-weight: 700;
		letter-spacing: 0.5px;
		margin-bottom: 15px;
	}

	.mwb-wpg-gen-section-table-container {
		border: 1px solid $c-silver;
		border-radius: 5px;
		margin-bottom: 55px;

		.mwb-wpg-gen-section-table {
			border-collapse: collapse;

			thead {
				text-align: left;

				th {
					border-bottom: 1px solid rgba(33, 33, 33, 0.08);;
					padding: 15px;
					font-family: $ff-nunitosans-s;
					font-size: $fs-normal;
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0.25px;

					&:last-child {
						text-align: right;
					}
				}
			}

			tbody {
				td {
					border-bottom: 1px solid rgba(33, 33, 33, 0.08);;
					padding: 15px;					
					font-family: $ff-nunitosans-s;
					font-size: $fs-normal;
					font-weight: 400;
					line-height: 24px;
					letter-spacing: 0.25px;

					.dtr-details {
						li {
							display: flex;
							flex-wrap: wrap;

							.dtr-title {
								margin-right: 20px;
							}
						}
					}

					span {
						display: flex;
						flex-wrap: wrap;
						justify-content: flex-end;

						@include media(mwb-tablet) { 
							justify-content: flex-start;
						}

						img {
							margin: 0 6px;
							width: 22px;
						}
					}
				}
			}
		}	

		.bottom {
			bottom: -60px;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			position: absolute;
			right: 0;

			.dataTables_length {
				font-family: $ff-nunitosans-s;
				font-size: $fs-xm-small;
				font-weight: 400;
				letter-spacing: 0.25px;

				select {
					margin: 0 25px;
					min-width: 90px;
					padding: 5px 30px 5px 15px!important;
				}
			}

			.dataTables_info {
				font-family: $ff-nunitosans-s;
				font-size: $fs-xm-small;
				font-weight: 400;
				letter-spacing: 0.25px;
				margin-right: 5px;
			}

			.dataTables_paginate {
				padding: 0;
				span {
					.paginate_button {
						display: none !important;
					}
				}

				.paginate_button {
					&:hover {
						background: $c-white;
						border: 0;
					}
				}
			}
		}
	}
}

/*=====  End of Wallet Section  ======*/

/*==========================================
=            Withdrawal Section            =
==========================================*/

.mwb-wpg-gen-section-table-wrap {
	.mwb-wpg-gen-section-table-container {
		.mwb-wpg-gen-section-table {
			thead {
				th {
					&:last-child {
						text-align: left;
					}
				}
			}

			tbody {
				td {
					select {
						border: 0;

						.approved {
							color: $c-robins-egg-blue !important;
						}
						.pending {
							color: $c-my-sin !important;
						}
						.rejected {
							color: $c-pomegranate !important;
						}
					}
				}
			}
		}
	}
}
/*=====  End of Withdrawal Section  ======*/
